<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Salary</th>
            <th>EmailId</th>
            <th>Date of Joining</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;trackBy: trackByEmployees;let i=index
            let isFirst=first;let isLast=last;let isEven=even; let isOdd=odd">
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.dateofjoining | date:'fullDate' | uppercase}}</td>            
        </tr>
        <tr *ngIf="employees.length == 0" >
            <td colspan="4"> No records available</td>
        </tr>
    </tbody>    
</table>

<button (click)="refreshEmployees()">Refresh</button>
